<div
  class="w-full h-auto px-20 grid grid-rows-[auto_auto] gap-8 font-lexend overflow-y-hidden"
>
  <!-- Ligne 1 : Barre de recherche -->
  <div class="flex items-center gap-3">
    <div class="px-3 bg-[#E2E2E2] rounded-full flex gap-2 w-fit">
      <img src="/search.svg" />
      <input
        type="text"
        class="min-w-96 w-[20vw] ml-1 font-[Lexend] h-8 bg-inherit text-sm font-base focus:outline-none"
        placeholder="Rechercher un DPI par NSS"
        (input)="updateRecherche($event)"
      />
    </div>
    <div
      class="w-8 h-8 rounded-full bg-[#E2E2E2] flex items-center justify-center"
    >
      <img
        src="/icons/qr_scan.svg"
        alt="QR Code"
        class="w-4 h-4 object-cover"
      />
    </div>
  </div>

  <!-- Ligne 2 : Tableau et Bouton -->
  <div class="grid grid-cols-[4fr_1fr] gap-8">
    <div class="w-full">
      <div class="overflow-y-auto max-h-[400px]">
        <table
          class="table-auto w-full border border-gray-300 rounded-lg text-sm outline-none"
          style="border-collapse: separate; border-spacing: 0"
        >
          <thead class="bg-gray-100 sticky top-0 z-10">
            <tr>
              <th class="px-4 py-3 w-[30%] text-left font-normal">
                Nom patient
              </th>
              <th class="px-4 py-3 w-[25%] text-left font-normal">NSS</th>
              <th class="px-4 py-3 w-[20%] text-left font-normal">
                Date de naissance
              </th>
              <th class="px-4 py-3 w-[25%] text-left font-normal">
                Numéro de téléphone
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let dpi of filteredListeDPIs"
              [class.bg-[#FFA88B]]="dpi.nss === selectedNss"
              [class.hover:bg-[#FFA88B]]="dpi.nss === selectedNss"
              (click)="selectDPI(dpi.nss)"
              class="hover:bg-gray-50 font-light text-sm cursor-pointer"
            >
              <td class="px-4 py-2">{{ dpi.nom }}</td>
              <td class="px-4 py-2">{{ dpi.nss }}</td>
              <td class="px-4 py-2">{{ dpi.age }}</td>
              <td class="px-4 py-2">{{ dpi.numero_telephone }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Bouton Ajouter -->
    <div class="flex items-center justify-center">
      <button
        *ngIf="selectedNss !== ''"
        class="text-sm py-3 px-5 text-white bg-gradient-to-r from-[#F6815A] to-[#E54E1B] rounded-2xl font-light hover:from-orange-500 hover:to-orange-600"
        (click)="afficherPopup()"
      >
        Ajouter un soin
      </button>
    </div>
  </div>
  <!-- popup -->
  <app-popup-ajouter-soin
    class="z-50"
    [nss]="selectedNss"
    *ngIf="popupVisible"
    (clickClose)="masquerPopup()"
  />
</div>
