<!-- global calss -->
<div class="font-lexend w-screen m-0  h-screen overflow-y-auto">
  <app-header class="absolute top-[3vw] w-full"></app-header>
  <!-- section 1 (white) -->
  <app-section-one id="1"></app-section-one>
  <!-- section 2 (white) -->
  <app-section-two id="2"></app-section-two>
  <!-- section 3 (white) -->
  <app-section-three id="3"></app-section-three>
  <!-- section 4 (purple) -->
  <app-section-four id="4"></app-section-four>
  <!-- section 5 (white) -->
  <app-section-five id="5"></app-section-five>
  <!-- section 6 (orange footer) -->
  <app-footer id="footer"></app-footer>
</div>
