<!-- global calss -->
<div class="font-lexend w-screen m-0 overflow-y-auto">
 
  <app-header class="absolute top-[3vw] w-full"></app-header>
  <!-- section 1 (white) -->
 <app-section-one></app-section-one>
  <!-- section 2 (white) -->
  <app-section-two></app-section-two>
  <!-- section 3 (white) -->
  <app-section-three></app-section-three>
  <!-- section 4 (purple) -->
  <app-section-four></app-section-four>
  <!-- section 5 (white) -->
  <app-section-five></app-section-five>
  <!-- section 6 (orange footer) -->
  <div></div>
</div>
