<div
  class="py-16 sm:py-38 bg-[#F1F1F1] pt- w-full grid sm:grid-cols-[50%_50%] sm:grid-rows-1 grid-rows-2 gap-8 sm:gap-12 px-[9%]"
>
  <!-- Right container (Image) -->
  <div class="sm:col-span-1 sm:flex sm:justify-start sm:items-center">
    <img
      src="/images/doctor2_landing.png"
      alt="image description"
      class="w-full sm:w-4/5 sm:h-auto"
    />
  </div>
  <!-- Left container (Title + Paragraph) -->
  <div class="grid grid-rows-[60px_auto] sm:col-span-1 sm:pr-8">
    <!-- Title -->
    <div class="w-full h-[50px]">
      <h1 class="font-bold text-xl sm:text-3xl">Pourquoi nous ?</h1>
    </div>

    <div class="flex flex-col gap-2 sm:gap-1 text-xs sm:text-sm text-[#2E2E2E]">
      <div class="flex items-center gap-3 sm:gap-5">
        <!-- Icon -->
        <img src="/icons/check-mark.png" alt="icon 1" class="w-3 h-3" />
        <span class="text-gray-700">Une interface intuitive</span>
      </div>
      <div class="flex items-center gap-3 sm:gap-5">
        <!-- Icon -->
        <img src="/icons/check-mark.png" alt="icon 2" class="w-3 h-3" />
        <span class="text-gray-700">Une gestion centralisée des données</span>
      </div>
      <div class="flex items-center gap-3 sm:gap-5">
        <!-- Icon -->
        <img src="/icons/check-mark.png" alt="icon 3" class="w-3 h-3" />
        <span class="text-gray-700"
          >Gain de temps pour les professionnels de santé</span
        >
      </div>
      <div class="flex items-center gap-3 sm:gap-5">
        <!-- Icon -->
        <img src="/icons/check-mark.png" alt="icon 1" class="w-3 h-3" />
        <span class="text-gray-700"
          >Interopérabilité avec d'autres systèmes</span
        >
      </div>
      <div class="flex items-center gap-3 sm:gap-5">
        <!-- Icon -->
        <img src="/icons/check-mark.png" alt="icon 1" class="w-3 h-3" />
        <span class="text-gray-700">Sécurité et confidentialité garanties</span>
      </div>
    </div>
  </div>
</div>
