<div
  class="bg-[#F1F1F1] w-full grid grid-rows-[50px_auto] gap-3 sm:gap-8 px-[9%] py-10 sm:py-30"
>
  <!-- Première ligne: Titre -->
  <h1 class="font-bold text-xl sm:text-3xl">Nos services</h1>

  <!-- Deuxième ligne: 4 boîtes -->
  <div
    class="flex flex-col justify-items-center items-center sm:grid sm:grid-cols-2 lg:grid-cols-4 gap-8 sm:gap-4"
  >
    <!-- Box 1 -->
    <div
      class="bg-[#F1F1F1] h-[60vw] w-[60vw] gap-4 sm:h-[18vw] sm:w-[18vw] flex items-start justify-center rounded-xl border-solid border border-[#DF5A2D] shadow-lg p-[20px] flex-col text-start hover:bg-[#DF5A2D] transition duration-300 group"
    >
      <img class="w-4 sm:w-8" src="/icons/box1_icon.png" alt="service1" />
      <p
        class="font-bold text-sm sm:text-[1.2vw] leading-tight group-hover:text-white"
      >
        Création et gestion du dossier médical
      </p>
      <p
        class="text-gray-500 text-xs sm:text-[1.1vw] leading-tight group-hover:text-white"
      >
        Centralisez toutes les informations relatives à vos patients.
      </p>
    </div>

    <!-- Box 2 -->
    <div
      class="bg-[#F1F1F1] h-[60vw] w-[60vw] gap-4 sm:h-[18vw] sm:w-[18vw] flex items-start justify-center rounded-xl border-solid border border-[#DF5A2D] shadow-lg p-[20px] flex-col text-start hover:bg-[#DF5A2D] transition duration-300 group"
    >
      <img class="w-4 sm:w-8" src="/icons/box2_icon.png" alt="service2" />
      <p
        class="font-bold text-sm sm:text-[1.2vw] leading-tight group-hover:text-white"
      >
        Accès rapide aux données médicales
      </p>
      <p
        class="text-gray-500 text-xs sm:text-[1.1vw] leading-tight group-hover:text-white"
      >
        Consultez les résultats d’analyses biologiques et d’imageries médicales
        en un clic.
      </p>
    </div>

    <!-- Box 3 -->
    <div
      class="bg-[#F1F1F1] h-[60vw] w-[60vw] gap-4 sm:h-[18vw] sm:w-[18vw] flex items-start justify-center rounded-xl border-solid border border-[#DF5A2D] shadow-lg p-[20px] flex-col text-start hover:bg-[#DF5A2D] transition duration-300 group"
    >
      <img class="w-4 sm:w-8" src="/icons/box3_icon.png" alt="service3" />
      <p
        class="font-bold text-sm sm:text-[1.2vw] leading-tight group-hover:text-white"
      >
        Suivi des soins prodigués
      </p>
      <p
        class="text-gray-500 text-xs sm:text-[1.1vw] leading-tight group-hover:text-white"
      >
        Enregistrez et consultez les soins administrés par les infirmiers
        directement dans le DPI.
      </p>
    </div>

    <!-- Box 4 -->
    <div
      class="bg-[#F1F1F1] h-[60vw] w-[60vw] gap-4 sm:h-[18vw] sm:w-[18vw] flex items-start justify-center rounded-xl border-solid border border-[#DF5A2D] shadow-lg p-[20px] flex-col text-start hover:bg-[#DF5A2D] transition duration-300 group"
    >
      <img class="w-6 sm:w-10" src="/icons/box4_icon.png" alt="service4" />
      <p
        class="font-bold text-sm sm:text-[1.2vw] leading-tight group-hover:text-white"
      >
        Interface patient dédiée
      </p>
      <p
        class="text-gray-500 text-xs sm:text-[1.1vw] leading-tight group-hover:text-white"
      >
        Les patients peuvent accéder à leur historique médical et télécharger
        leurs résultats.
      </p>
    </div>
  </div>
</div>
