<div
  class="w-[100%] flex-1 overflow-scroll flex flex-col lg:flex-row justify-between"
>
  <!-- cote gauche -->
  <div class="h-[100%] w-[100%] px-5 pb-5 lg:px-24 flex flex-col gap-10">
    <!-- lien -->
    <p class="text-black-500 font-[Lexend] font-bold">> Mon profil</p>
    <img src="/pfp.svg" alt="pfp" class="w-52 h-52 rounded-full" />
    <!-- patient -->
    <div>
      <p class="text-black-500 font-[Lexend] font-bold">Patient</p>
      <p class="text-black-500 font-[Lexend] text-lg">
        {{ patient.nom + " " + patient.prenom }}
      </p>
    </div>
    <!-- info -->
    <div class="flex flex-col gap-7">
      <p class="text-gray-500 font-[Lexend] font-semibold">
        NSS: <span class="text-black">{{ patient.nss }}</span>
      </p>
      <p class="text-gray-500 font-[Lexend] font-semibold">
        Sexe: <span class="text-black">{{ patient.sexe }}</span>
      </p>
      <p class="text-gray-500 font-[Lexend] font-semibold">
        Date de naissance:
        <span class="text-black">{{ patient.dateNaissance }}</span>
      </p>
      <p class="text-gray-500 font-[Lexend] font-semibold">
        Téléphone: <span class="text-black">{{ patient.telephone }}</span>
      </p>
      <p class="text-gray-500 font-[Lexend] font-semibold">
        Adresse: <span class="text-black">{{ patient.adresse }}</span>
      </p>
      <p class="text-gray-500 font-[Lexend] font-semibold">
        Mutuelle: <span class="text-black">{{ patient.mutuelle }}</span>
      </p>
      <p class="text-gray-500 font-[Lexend] font-semibold">
        Médecin traitant:
        <span class="text-black">{{ patient.medecin }}</span>
      </p>
    </div>
  </div>
  <!-- cote droit -->
  <div class="h-[100%] w-[100%] px-5 py-5 lg:px-24 flex flex-col gap-40">
    <img src="/qr.svg" alt="qr code" class="w-52 h-52" />
    <div class="flex flex-col gap-7">
      <p class="text-gray-500 font-[Lexend] font-semibold">
        Etat civil: <span class="text-black">{{ patient.etatCivil }}</span>
      </p>
      <p class="text-gray-500 font-[Lexend] font-semibold">
        Groupe sanguin:
        <span class="text-black">{{ patient.groupeSanguin }}</span>
      </p>
      <p class="text-gray-500 font-[Lexend] font-semibold">
        Profession:
        <span class="text-black">{{ patient.profession }}</span>
      </p>
    </div>
  </div>
</div>
