<div
  class="py-20 sm:py-50 bg-[#643869] w-full grid sm:grid-cols-[50%_50%] sm:grid-rows-1 grid-rows-2 gap-2 sm:gap-8 px-[9%]"
>
  <!-- Left container (Title + Paragraph) -->
  <div class="grid grid-rows-[60px_auto] gap-2 sm:gap-12 sm:col-span-1 sm:pr-8">
    <!-- Title -->
    <div class="w-full h-[50px]">
      <h1 class="font-bold text-[#F1F1F1] text-xl sm:text-3xl">
        Parmis les avis de nos utilisateurs !
      </h1>
    </div>

    <div
      class="flex flex-col gap-2 sm:gap-8 text-[#F1F1F1] text-xs sm:text-sm text-[#2E2E2E]"
    >
      <p class="w-5/6 sm:text-sm">
        Un gain de temps considérable pour notre équipe médicale.
      </p>
      <div class="w-full flex items-center gap-3 sm:gap-5">
        <img
          src="/images/avis_users.png"
          alt="users"
          class="w-1/3 h-auto"
        /><span class="text-xs">100+ Reviews</span>
      </div>
    </div>
  </div>
  <!-- Right container (box doctor cmnt) -->
  <div
    class="bg-white sm:col-span-1 border rounded-2xl w-full shadow-md sm:w-11/12 sm:h-auto p-6 grid grid-rows-[50px_auto] gap-4 items-center"
  >
    <div class="w-full flex justify-between items-center p-4">
      <div class="flex items-center gap-4">
        <!-- PDP -->
        <img
          src="/images/doctor_pdp.png"
          alt="profile pic"
          class="w-10 h-10 rounded-full"
        />

        <!-- doc name -->
        <div class="flex flex-col">
          <p
            class="font-semibold text-sm sm:text-xs text-[#606060] leading-tight"
          >
            Dr. Ahmed Benali,
          </p>
          <p class="text-sm sm:text-xs text-gray-500 leading-tight">
            Médecin généraliste.
          </p>
        </div>
      </div>

      <!-- etoiles -->
      <div class="flex items-center gap-[1px] sm:gap-1">
        <img
          src="/icons/star_filled.svg"
          alt="star"
          class="w-3 h-3 sm:w-6 sm:h-6"
        />
        <img
          src="/icons/star_filled.svg"
          alt="star"
          class="w-3 h-3 sm:w-6 sm:h-6"
        />
        <img
          src="/icons/star_filled.svg"
          alt="star"
          class="w-3 h-3 sm:w-6 sm:h-6"
        />
        <img
          src="/icons/star_filled.svg"
          alt="star"
          class="w-3 h-3 sm:w-6 sm:h-6"
        />
        <img
          src="/icons/star_filled.svg"
          alt="star"
          class="w-3 h-3 sm:w-6 sm:h-6"
        />
      </div>
    </div>
    <p class="text-[#606060] text-xs sm:text-sm">
      Grâce à cette application, nous avons réduit les erreurs administratives
      et amélioré la coordination entre les différents services de l’hôpital.
      Les patients apprécient aussi de pouvoir accéder facilement à leurs
      dossiers.
    </p>
  </div>
  <!-- Right container (Image)
  <div class="sm:col-span-1 sm:flex sm:justify-start sm:items-center">
    <img
      src="/images/doctor2_landing.png"
      alt="image description"
      class="w-full sm:w-4/5 sm:h-auto"
    />
  </div> -->
</div>
