<div
  class="py-20 sm:py-100 bg-[#F1F1F1] w-full grid sm:grid-cols-[45%_55%] sm:grid-rows-1 grid-rows-2 gap-10 sm:gap-12 px-[9%]"
>
  <div
    class="grid grid-rows-[100px_auto] gap-10 sm:gap-1O items-center sm:col-span-1 sm:pr-8"
  >
    <!-- Title -->
    <div class="w-11/12 h-[50px] font-bold">
      <h1 class="text-[#2E2E2E] text-xl sm:text-3xl">
        Un outil de confiance pour les
        <span class="text-[#643869] text-xl sm:text-3xl">
          professionnels de santé.</span
        >
      </h1>
    </div>
    <div class="text-[#2E2E2E] text-xs sm:text-sm w-11/12 font-base">
      Notre application est conçue pour répondre aux besoins des médecins,
      infirmiers, laborantins, et radiologues. Elle simplifie la coordination
      entre les professionnels, améliore la qualité des soins, et garantit un
      accès rapide et sécurisé aux informations médicales.
    </div>
  </div>

  <div class="sm:col-span-1 sm:flex sm:justify-start sm:items-center">
    <img
      src="/images/doctor3_landing.png"
      alt="image description"
      class="w-full sm:w-11/12 sm:h-auto"
    />
  </div>
</div>
