<div class="w-[100vw] h-screen flex justify-between">
  <div class="h-screen sticky top-0">
    <app-sidebar
      [selectionne]="selectionne()"
      [personne]="personne()"
      [menuItems]="menuItems()"
      (selectionneChange)="updateSelectionne($event)"
      class="hidden lg:block"
    />
    <app-sidebar-mobile
      [selectionne]="selectionne()"
      [menuItems]="menuItems()"
      (selectionneChange)="updateSelectionne($event)"
      class="lg:hidden"
    />
  </div>
  <div class="w-[100%] flex flex-col h-screen">
    <div class="ticky top-0 z-10">
      <app-topbar [role]="0" [nom]="'Ladoul Mahdi'" />
    </div>
    <div class="overflow-scroll">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
