<div class="pt-16 pb-8 bg-[#DF5A2D] w-full grid grid-rows-[auto_40px] px-[9%]">
  <!-- Contenu principal -->
  <div
    class="w-full grid sm:grid-cols-[35%_30%_35%] grid-cols-1 gap-12 sm:gap-6 px-[9%] py-16"
  >
    <!-- colonne 1 -->
    <div>
      <h2 class="text-sm sm:text-base font-semibold text-white">e-Care</h2>
      <p class="text-xs sm:text-sm text-white mt-2 font-extralight">
        eCare est une plateforme numérique dédiée à faciliter les échanges et la
        gestion des soins de santé pour tous les membres de la famille médicale,
        des patients aux professionnels de santé. Cette solution tout-en-un
        permet une communication fluide et sécurisée entre les patients, les
        médecins, les pharmaciens, les laborantins et tous les autres acteurs du
        domaine médical.
      </p>

      <p class="text-xs sm:text-sm text-white mt-2 font-extralight">
        Nos réseaux sociaux
      </p>

      <!-- sociales media icons -->
      <div class="flex gap-4 mt-4">
        <a
          href="https://facebook.com"
          target="_blank"
          class="text-white text-2xl hover:text-gray-400"
        >
          <img src="/icons/fb.png" alt="Facebook" />
        </a>
        <a
          href="https://instagram.com"
          target="_blank"
          class="text-white text-2xl hover:text-gray-400"
        >
          <img src="/icons/ig.png" alt="Instagram" />
        </a>
        <a
          href="https://twitter.com"
          target="_blank"
          class="text-white text-2xl hover:text-gray-400"
        >
          <img src="/icons/twitter.png" alt="Twitter" />
        </a>
      </div>
    </div>

    <!-- colonne 2 -->
    <div class="flex flex-col items-center ">
      <!-- Titre -->
      <h2 class="text-sm sm:text-base font-semibold text-white">Liens utils</h2>
      <!-- colonne 3-->
      <ul class="mt-4 space-y-1">
        <li>
          <a href="#" class="text-sm text-white hover:text-gray-300"
            >A propos</a
          >
        </li>
        <li>
          <a href="#" class="text-sm text-white hover:text-gray-300">Avie</a>
        </li>
        <li>
          <a href="#" class="text-sm text-white hover:text-gray-300">Contact</a>
        </li>
      </ul>
    </div>

    <!-- Troisième colonne -->
    <div class="flex flex-col items-center">
      <!-- Titre -->
      <h2 class="text-sm sm:text-base font-semibold text-white">Adresse</h2>
      <!-- Image -->
      <img
        src="/images/map_adress.png"
        alt="Description de l'image"
        class="w-full sm:w-4/5 mt-4"
      />
    </div>
  </div>

  <!-- Pied de page -->
  <div class="flex flex-col items-center justify-center gap-2">
    <!-- Ligne blanche -->
    <div class="w-11/12 h-px bg-white"></div>
    <!-- © All Rights Reserved -->
    <div class="flex items-center gap-2 text-white text-sm">
      <span class="text-lg font-extralight">©</span>
      <p class="text-xs font-extralight">2024 All Rights Reserved</p>
    </div>
  </div>
</div>
