<div
  class="absolute w-[100%] h-[100%] top-0 left-0 flex items-center justify-center font-[Lexend] text-white bg-white/50"
>
  <div class="w-[40vw] bg-[#643869] flex flex-col gap-10 p-10 rounded-3xl">
    <div class="flex flex-col gap-3">
      <div class="w-[100%] flex flex-row-reverse">
        <img
          src="cancel.svg"
          alt="cancel"
          class="cursor-pointer"
          (click)="masquer()"
        />
      </div>
      <label for="typeExamen">Type de soin / médicament administré</label>
      <input
        type="text"
        id="typeExamen"
        class="p-3 rounded-full text-black"
        (change)="modifierTypeSoin($event)"
      />
    </div>
    <div class="flex flex-col gap-3">
      <label for="resumeRapport">Description</label>
      <textarea
        type="text"
        id="resumeRapport"
        class="p-3 rounded-3xl h-36 text-black"
        (change)="modifierDescription($event)"
      ></textarea>
    </div>
    <div class="flex flex-col gap-3">
      <label for="resumeRapport">Observation</label>
      <textarea
        type="text"
        id="resumeRapport"
        class="p-3 rounded-3xl h-36 text-black"
        (change)="modifierObservation($event)"
      ></textarea>
    </div>
    <div class="flex flex-row-reverse" (click)="submitSoin()">
      <div
        class="bg-gradient-to-r from-[#F6815A] to-[#E54E1B] hover:from-[#E54E1B] hover:to-[#E54E1B] transition duration-300 text-white rounded-full w-52 flex items-center justify-center gap-1 px-5 cursor-pointer"
      >
        <p class="px-6 py-3 font-[Lexend]">Valider</p>
      </div>
    </div>
  </div>
</div>
