<div class="flex flex-col gap-3">
  <label for="dropdown" class="text-white font-semibold font-[Lexend]">{{
    label
  }}</label>
  <div
    class="p-1 font-[Lexend] rounded-full text-[#DF5A2D] bg-white flex w-fit"
  >
    <select id="dropdown" name="dropdown" class="bg-white mx-3">
      <option (click)="choisir('Patient')" value="Patient">Patient</option>
      <option (click)="choisir('Médecin')" value="Médecin">Médecin</option>
      <option (click)="choisir(' Laborantin')" value=" Laborantin">
        Laborantin
      </option>
    </select>
    <img src="/menu.png" alt="" />
  </div>
</div>
