<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Redigez soins</h1>
    <form method="POST" action="">
        {% csrf_token %} 
        <input type="text" name="type" placeholder="type">
        <input type="date" name="date" placeholder="Enter date">
        <input type="text" name="description" placeholder="description">
        <input type="text" name="observation" placeholder="observation">
        <input type="text" name="nss" placeholder="nss">
        <button type="submit">Create soin</button>
    </form>
</body>
</html>