<!-- navbar -->

<div class="font-lexend z-10000 flex justify-between items-center h-16 px-8">
  <img src="/images/logo.png" alt="Logo" class="w-[10%]" />

  <div class="flex items-center space-x-[4vw] hidden sm:flex">
    <a href="#2" class="text-[1.2vw] font-medium relative group">A propos</a>
    <a href="#4" class="text-[1.2vw] font-medium relative group">Avis</a>
    <a href="#footer" class="text-[1.2vw] font-medium relative group"
      >Contact</a
    >
  </div>

  <button
  [routerLink]="'login'"
    class="flex items-center px-1 py-1 bg-white border border-transparent rounded-full space-x-3 h-[36px] w-[13vw] outline-none hover:shadow-inner hover:shadow-md hover:shadow-gray-300 transition duration-200 active:shadow-inner active:shadow-md active:shadow-[#FD7A4E]-400 transition duration-200 hidden sm:flex"
  >
    <div
      class="w-7 h-7 flex items-center justify-center bg-[#FD7A4E] rounded-full"
    >
      <mat-icon class="text-white w-5">person</mat-icon>
    </div>
    <span class="text-[1.1vw] text-[#FD7A4E] font-medium">Se connecter</span>
  </button>
</div>
